@import '../../core';

.article {
    display: flex;
    flex-direction: row;
    transition: 200ms all;
    flex: 1 1 auto;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    &:hover {
        opacity: 0.7;
    }

    @include mediaSM {
        padding: 0;
    }
}

.article-text {
    flex: 1 1 auto;
    max-height: 125px;

    @include mediaSM {
        padding: 4px;
    }
}

.article-lead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h2 {
        width: fit-content;
    }

    h4 {
        white-space: nowrap;
        margin-left: 8px;
        font-weight: 500;
    }

    @include mediaMD {
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 8px;

        h2 {
            font-size: 18px;
        }

        h4 {
            margin-left: 0;
        }

    }

    @include mediaSM {
        height: 100%;
        justify-content: space-around;
        margin-bottom: 0;
    }

    @include mediaXS {
        h2 {
            font-size: 16px;
            font-weight: 500;
        }

        h4 {
            font-size: 14px;
        }
    }
}

.article-preamble {
    @include mediaSM {
        display: none;
    }
}


.article-img {
    width: 180px;
    height: 125px;
    margin-right: 32px;

    img {
        object-fit: cover;
        height: 125px;
        width: 180px;
    }

    @include mediaSM {
        width: 144px;
        height: 100px;
        margin-right: 8px;

        img {
            object-fit: cover;
            height: 100px;
            width: 144px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }

    @include mediaXS {
        width: 130px;

        img {
            width: 130px;
        }
    }
}

.no-img-padding {
    @include mediaSM {
        padding: 16px;
    }
}