// constants:
$themeColor: #F4B416;
$themeColorLighten: #fce9b9;

// mixins:
$widthXS: 400px;
$widthSM: 599px;
$widthMD: 1024px;

@mixin mediaXS {
  @media (max-width: #{$widthXS}) {
    @content;
  }
}

@mixin mediaSM {
  @media (max-width: #{$widthSM}) {
    @content;
  }
}

@mixin mediaMD {
  @media (max-width: #{$widthMD}) {
    @content;
  }
}
