@import './core';

.app-container {
    width: 100%;
    margin: 0;
    padding: 16px;
    background-color: white;

    display: grid;
    grid-template-areas:
        'header header'
        'picker list';

    header {
        grid-area: header;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &>header>div {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    &>header>p {
        font-size: 20px;
        font-weight: 500;
        margin: 16px;
        text-align: center;
    }

    &>header>div>svg {
        fill: $themeColor;
        width: 40px;
        height: 40px;
    }

    @include mediaMD {
        grid-template-areas: 'header''picker''list';

        header {
            margin-bottom: 16px;
        }
    }

    @include mediaSM {
        padding: 12px;
    }
}